<div *ngFor="let a of controlsArray; let i = index" [ngClass]="parentQuestionType != '' ? 'arrayForm': ''">
    <div class="customContainer">

        <!--Condition-->
        <div class="row customRow" *ngIf="parentQuestionType != ''">
            <div class="customLabel">
                <label>Condition</label>
            </div>
            <div class="customInputCondition">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0 customInputCondition"
                        id="inlineSelect"
                        [(ngModel)]="a.conditionType">
                    <option value="Equals">Equals</option>
                    <option value="Greater"
                            *ngIf="parentQuestionType == 'Number'">Greater than
                    </option>
                    <option value="Less"
                            *ngIf="parentQuestionType == 'Number'">Less than
                    </option>
                </select>
            </div>
            <div class="customInputConditionType customBlock5"
                 *ngIf="parentQuestionType == 'Yes/No'">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0 customInputConditionType"
                        id="inlineFormSelect"
                        [(ngModel)]="a.conditionValue">
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>

            <div class="customInputConditionType customBlock5"
                 *ngIf="parentQuestionType != 'Yes/No'">
                <input class="form-control inline" type="text" [(ngModel)]="a.conditionValue">
            </div>
        </div><!--Condition-->

        <!--Question-->
        <div class="row customRow">
            <div class="customLabel">
                <label>Question</label>
            </div>
            <div class="customInput">
                <input class="form-control inline" type="text" [(ngModel)]="a.question">
            </div>
        </div><!--Question-->

        <!--Question Type-->
        <div class="row customRow">
            <div class="customLabel">
                <label>Type</label>
            </div>
            <div class="customInput">
                <select class="custom-select mb-2 mr-sm-2 mb-sm-0 customInput"
                        id="inlineFormCustomSelect"
                        (change)="changeControlSubinputs(controlsArray, i)"
                        [(ngModel)]="a.questionType">
                    <option *ngFor="let questionType of questionTypes">
                        {{questionType}}
                    </option>
                </select>
            </div>
        </div><!--Question Type-->

        <!--ADD and REMOVE-->
        <div class="row customRow">
            <div class="customBlock3"></div>
            <div class="customBlock4">
                <button class="btn btn-primary"
                        (click)="addSubInputToArray(controlsArray, i)">ADD SUB-INPUT
                </button>
                <button class="btn btn-warn"
                        (click)="removeInputFromArray(controlsArray, i)">REMOVE
                </button>
            </div>
        </div><!--ADD and REMOVE-->
    </div>


    <div *ngIf="a.subinputs.length != 0">
        <app-input-creator [controlsArray]="a.subinputs"
                           [parentQuestionType]="a.questionType">
        </app-input-creator>
    </div>
</div>

